<!--Etiquetas necesarias para trabajar con boostrap correctamente
<div class="container">
    <div class="row">
    </div>
</div>-->
<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/Captura.PNG" class="img-fluid" id="fotoperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre}}Tomas Quiroga</p>
        <p>Full Stack Developoer Jr</p>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-8 col-lg-8">
        <samp>
            <h1>Acerca de mí</h1>
            <p>Hace varios años empece a estudiar progamacion. Ahora mi objetivo es conseguir practica en proyectos y certificarme.</p>
        </samp>
    </div>
</div>