<div class="row">
    <h1>Hard and soft skills</h1>
    <div class="col-s-2 col-md-4 col-md-4">
        <circle-progress
        [percent]="90"
        [radius]="65"
        [showUnits]="false"
        [title]="'HTML'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
        
      ></circle-progress>
    </div>
<div class="col-s-2 col-md-4 col-md-4">
    <circle-progress
    [percent]="90"
    [radius]="65"
    [showUnits]="false"
    [title]="'CSS'"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="600"
    
  ></circle-progress>
</div>
<div class="col-s-2 col-md-4 col-md-4">
    <circle-progress
    [percent]="50"
    [radius]="65"
    [showUnits]="false"
    [title]="'Javascript'"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="600"
    
  ></circle-progress>
</div>
<div class="col-s-2 col-md-4 col-md-4">
    <circle-progress
    [percent]="30"
    [radius]="65"
    [showUnits]="false"
    [title]="'Mysql'"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="600"
    
  ></circle-progress>
</div>
<div class="col-s-2 col-md-4 col-md-4">
    <circle-progress
    [percent]="30"
    [radius]="65"
    [showUnits]="false"
    [title]="'Java'"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="600"
    
  ></circle-progress>
</div>
<div class="col-s-2 col-md-4 col-md-4">
  <circle-progress
  [percent]="70"
  [radius]="65"
  [showUnits]="false"
  [title]="'Ingles'"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="600"
  
></circle-progress>
</div>
</div>