<div class="row">
    <h1>Hard and soft skills</h1>
    <div class="col-s-4 col-md-4 col-md-4">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [showUnits]="false"
        [title]="'HTML'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
        
      ></circle-progress>
    </div>
<div class="col-s-4 col-md-4 col-md-4">
    <circle-progress
    [percent]="85"
    [radius]="100"
    [showUnits]="false"
    [title]="'HTML'"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="600"
    
  ></circle-progress>
</div>
<div class="col-s-4 col-md-4 col-md-4">
    <circle-progress
    [percent]="85"
    [radius]="100"
    [showUnits]="false"
    [title]="'HTML'"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="600"
    
  ></circle-progress>
</div>
<div class="col-s-4 col-md-4 col-md-4">
    <circle-progress
    [percent]="85"
    [radius]="100"
    [showUnits]="false"
    [title]="'HTML'"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="600"
    
  ></circle-progress>
</div>
<div class="col-s-4 col-md-4 col-md-4">
    <circle-progress
    [percent]="85"
    [radius]="100"
    [showUnits]="false"
    [title]="'HTML'"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="600"
    
  ></circle-progress>
</div>
</div>