.row{
    padding: 20px;
    position: absolute;
    top: 50%;
}
div{
    background-color: rgb(74, 81, 92, 0);
    text-align: center;

}
/*estilo de la foto de perfil*/
@media (min-width: 576px){
    #fotoperfil {
        border-radius: 50%;
        position: absolute;
        width: 12%;
        box-shadow: 3px 3px 3px gray;
        right: 85%;
        top: -50%;
    }
}


/*Etiqueta nombre*/
 #nombre {
    font-weight: bold;
    margin-top: 35px;
}
