<!--Etiquetas necesarias para trabajar con boostrap correctamente
<div class="container">
    <div class="row">
    </div>
</div>-->
<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/APLogo.png" class="img-fluid" id="fotoperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">  Tomás Quiroga</p>
        <p>Full Stack Developoer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <samp>
            <h1>Acerca de mí</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda voluptatibus dolorem recusandae rem quos at porro ea similique culpa rerum aliquam iure dignissimos cumque, sint accusamus asperiores non veritatis consectetur.</p>
        </samp>
    </div>
</div>